<a href="#"
id="buttonCallToAction"
    class=" mx-auto mt-6 px-10 py-3 text-black  flex justify-center items-center w-min text-nowrap rounded-full font-bold italic text-xl leading-5 "
>
    Garanta Seu E-book Agora!
</a>


<style>
#buttonCallToAction {
	background-image: linear-gradient(90deg, #E0C387 0%, #C2903B 25%, #E0C387 50%, #C2903B 75%, #E0C387 100%);
}

</style>